{% extends "base.html" %}
{% block content %}
    <form id="newsForm" action="{% if '/news/update/' in request.path %} {% url 'news_update' news.id %} {% else %} {% url 'news_create' %} {% endif %}" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <h3 class="mb-0 align-self-center">
                {% if 'news/update/' in request.path %}
                    Update news -
                    <span class="text-danger d-inline-block text-truncate" style="max-width: 600px;margin: -7px 0;">#{{ news.id }} | {{ news.title }}</span>
                {% else %}
                    Create a news
                {% endif %}
            </h3>
            {% if '/news/update/' in request.path and not news.published %}
                <a id="publishButton" class="btn btn-primary">Publish News</a>
                <input type="hidden" value="False" id="set_published">
            {% endif %}
        </div>
        <hr>
        {% for field in form %}
            <div class="mb-3">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <a href="{% url 'home_admin' %}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back to home</a>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}
{% block js %}
    {% if '/news/update/' in request.path %}
        <script>
            $('#publishButton').click(() => {
                bootbox.confirm({
                    message: "If you have made any changes, save before publishing!",
                    closeButton: false,
                    buttons: {
                        confirm: {
                            label: 'Continue anyway',
                            className: 'btn-primary'
                        },
                        cancel: {
                            label: 'Cancel',
                        }
                    },
                    callback: (result) => {
                        if (result === true) {
                            $.ajax({
                                url: "{% url 'publish_news' news.id %}",
                                method: "POST",
                                data: {
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: () => {
                                    document.location.reload();
                                }
                            });
                        }
                    }
                });
            })
        </script>
    {% endif %}
{% endblock %}